 .container-clima {
    width: 200px;
    margin: 10px auto;
  }
 
  .ciudad h3 {
    color: grey;
  }
  
  .condi {
    text-transform: uppercase;
    font-size: 10px;
  }
  
  .temp {
    font-size: 2rem;
    font-weight: bold;
    color: blue;
  }
  
  .ciudad sup {
    font-size: 0.5em;
  }
     
  .icono-tiempo {
    width: 50px;
    height: 50px;
  }

  .credito {
    display: block;
    font-size: 8px;
  }
  
  